.mainWrapper {
  grid-area: body;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.titleWrapper > div {
  text-align: left;
  font-size: 2em;
}


.bodyWrapper {
  overflow: scroll;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.bodyWrapper > h6 {
  font-size: 1.1em;
  margin-left: 20px;
}

.bodyWrapper > ul > li {
  list-style-type:square;
}

.bodyWrapper > .mainLinks {
  text-align: center;
  width: 100%;
}

.bodyWrapper > ul.group {
  display: flex;
  justify-content: space-around;
  height: min-content;
}

h2, h3, h4 { text-align: center;}

h2, h3, h5 {text-decoration: underline}