.mainWrapper {
  grid-area: body;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.titleWrapper > div {
  text-align: right;
  font-size: 2em;
}


.bodyWrapper > h6 {
  font-size: 1.1em;
  margin-left: 20px;
}

.bodyWrapper > ul > li {
  list-style-type:square;
}

.bodyWrapper > ul {
  display: flex;
  justify-content: space-around;
  height: min-content;
}

h2, h3, h4 { text-align: center;}

h2, h3, h5 {text-decoration: underline}